@charset "UTF-8";

div {
  background-color: lightgray;
  text-align: center;
  height: 150px;
  width: 150px;
  margin: 10px;
}

div:hover {
  background-color: aqua;
}

#div4 {
  background-color: white;
}

div > p {
  display: none;
}

div:hover > p {
  display: block;
  background-color: aqua;
}
